@model User

<h2>Register</h2>

<form action="/users/process-registration" method="POST">
  <div>
    <label>First Name</label>
    @* The name attr needs to match a prop name from the Model. *@
    <input type="text" name="FirstName" />
  </div>
  <div>
    <label>Last Name</label>
    @* The name attr needs to match a prop name from the Model. *@
    <input type="text" name="LastName" />
  </div>
  <button>Submit</button>
</form>