@model Vacation

<h1>Plan a new Vacation</h1>

<form asp-controller="Vacations" asp-action="Create" method="POST">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <span
        asp-validation-for="Title"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <span
        asp-validation-for="Description"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Date"></label>
        <span
        asp-validation-for="Date"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="Date" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="ImgUrl"></label>
        <span
        asp-validation-for="ImgUrl"
        class="text-danger font-weight-bold"
        ></span>
        <input asp-for="ImgUrl" class="form-control" />
    </div>
    <input type="submit" value="Plan this Vacation!">
</form>