@model Post

<div class="container w-75 mx-auto">
  <h2 class="text-center">Edit Post</h2>

  <form class="shadow p-3 rounded" asp-controller="Post" asp-action="UpdatePost" asp-route-updatedPostId="@Model.PostId" method="POST">
    <div class="mb-3">
      <label asp-for="Topic"></label>
      <span asp-validation-for="Topic" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="Topic" value="@Model.Topic">
    </div>

    <div class="mb-3">
      <label asp-for="Body"></label>
      <span asp-validation-for="Body" class="text-danger font-weight-bold">
      </span>
      <input class="form-control" asp-for="Body" value="@Model.Body">
    </div>

    <div class="mb-3">
      <label asp-for="ImgUrl"></label>
      <input class="form-control" asp-for="ImgUrl" value="@Model.ImgUrl">
    </div>

    <button class="btn btn-success">Submit</button>
  </form>
</div>