@model StoryFragment

<h2>Welcome @Context.Session.GetString("Username") to StoryTime</h2>

<p>Here is the story, thus far:</p>
<p class="p-3 border border-primary rounded">
  @Context.Session.GetString("story")
</p>

<form
  asp-controller="Home"
  asp-action="AddToStory"
  method="POST"
  class="p-3 border rounded"
>
  <div class="form-group">
    <label>Add a word to the story!</label>
    <input asp-for="Word" class="form-control" />
  </div>
  <button class="btn btn-outline-primary">Submit</button>
</form>