@model StoryFragment

<h2>
  Thank you @Context.Session.GetString("Username") for joining us for Story
  Time!
</h2>

<p>Here is the story, so far:</p>
<p>@Context.Session.GetString("story")</p>


<form asp-controller="Home" asp-action="AddWord" method="POST">
    <div class="form-group">
        <label asp-for="Word"></label>
        <span asp-validation-for="Word" class="text-danger"></span>
        <input asp-for="Word" class="form-control" />
    </div>
    <input type="submit" value="Add Word to Story">
</form>